<div id="widget-layer" #widgetLayer>
    <ng-template #widgetContainer></ng-template>


    <!-- <text-widget *ngFor="let widget of service.textWidgets" 
    [class.widget-top-left]="widget.data.position == 0"
    [class.widget-top-right]="widget.data.position == 1"
    [class.widget-bottom-left]="widget.data.position == 2"
    [class.widget-bottom-right]="widget.data.position == 3"
    [class.widget-top]="widget.data.position == 4"
    [class.widget-left]="widget.data.position == 5"
    [class.widget-right]="widget.data.position == 6"
    [class.widget-bottom]="widget.data.position == 7"
    [class.widget-center]="widget.data.position == 8"
    [data]="widget.data"></text-widget> -->
</div>