@import "../../../styles/_layers.scss";
@import "node_modules/csshake/dist/csshake-slow.min";

.background-image {
  position: absolute;

  &.front {
    z-index: $_LAYER_INDEX_VIEWPORT + 2;
  }

  &.back {
    z-index: $_LAYER_INDEX_VIEWPORT + 1;
  }
}
