<div id="avg-viewport-layer">
  <!--  -->

  <div id="avg-viewport">
    <!-- attr.data-depth]="i + 0.5"  -->

    <div *ngFor="let model of scenes; index as i">
      <div id="avg-particle-viewport" class="snow">
        <canvas id="avg-particle-viewport-canvas"></canvas>
      </div>

      <img class="shake background-image front layer-{{i}}" *ngIf="model && model.scene&& model.scene.file && model.scene.file.filename"
        [ngStyle]="model.styles" [src]="sanitizer.bypassSecurityTrustUrl(model && model.scene && model.scene.file && model.scene.file.filename)">

      <img class="shake background-image back layer-{{i}}-back" *ngIf="model && model.incommingNewScene && model.incommingNewScene.file && model.incommingNewScene.file.filename"
        [ngStyle]="model.styles" [src]="sanitizer.bypassSecurityTrustUrl(model && model.incommingNewScene && model.incommingNewScene.file && model.incommingNewScene.file.filename)">
    </div>

  </div>
</div>