<div id="dialogue-container" (click)="onBoxClicked($event)" #dialogueBox>

  <div class="character-box">
    <div *ngFor="let i of [0,1,2,3,4]" class="character char-index-{{i}}" [ngStyle]="character_slot[i]">
      <img src="{{characters[i] && characters[i].avatar ? characters[i].avatar.file : ''}}" [@characterState]="characters[i] ? characters[i].state : ''"
      />
    </div>

  </div>

  <div class="name-box" *ngIf="currentCharacter && currentCharacter.name" [@dialogueBoxState]="dialogueBoxState">
    <div class="name" [@textState]="textState">{{currentCharacter.name}}</div>
  </div>

  <div class="dialogue-box" [@dialogueBoxState]="dialogueBoxState">
    <div class="content" [@textState]="textState" [innerHTML]="animatedText">

    </div>
  </div>
</div>
