#dialogux-box {
  width: 1200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 6%;
  left: 6%;
  .content {
    height: 100%;
    padding: 24px;
    font-size: 23px; // text-align: justify;
    // white-space: normal;
    // word-break: normal;
    // word-break: break-all;
    // word-wrap: break-word;
    color: white;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  #waiting-icon {
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid whitesmoke;
    animation: fade 2s infinite;
  }
  @keyframes fade {
    0% {
      opcatiy: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      margin-top: 4px;
      transform: translateY(10);
    }
    100% {
      opacity: 0;
      margin-top: 0px;
      transform: translateY(0);

    }
  }
}
