@import "../../../styles/_layers.scss";
@import "../../../styles/_common.scss";
@import "../../../styles/_default-ui.scss";

$DIALOGUE_BOX_BOTTOM: -35%;
$DIALOGUE_BOX_HEIGHT: 160px;

#dialogue-container {
  width: 100%;

  .name-box {
    // @include UIPanel;

    position: absolute;
    width: auto;
    height: 30px;
    bottom: -$DIALOGUE_BOX_BOTTOM + 68%;
    // margin-left: 5%;
    padding-left: 3%;
    padding-right: 5px;
    opacity: 0;

    .name {
      @include TextStrokeNormal;
      @include H1;
      text-align: center;
      color: yellow;
    }
  }
  .dialogue-text-box {
    @include UIPanel;
    position: absolute;
    z-index: $_LAYER_INDEX_DIALOGUE_BOX;

    bottom: $DIALOGUE_BOX_BOTTOM;
    height: $DIALOGUE_BOX_HEIGHT;

    width: 100%;
    // margin-left: 5%;

    opacity: 0;

    .content {
      height: 100%;
      padding: 24px;
      padding-left: 6%;
      @include TextStrokeNormal;
      @include H1;
    }
  }

  .choices-box {
    @include TextStrokeNormal;
    @include H2;

    z-index: $_LAYER_INDEX_DIALOGUE_BOX + 1;
    position: fixed;
    left: 50%;
    top: 35%;
    width: 40%;
    // height: 80%;
    transform: translate(-50%, -35%);

    .dialogue-choice {
      @include UIButton;

      text-align: center;
      padding: 6px;
      margin: 10px;
    }
  }
}

#character-box {
  position: absolute;
  z-index: $_LAYER_INDEX_CHARACTERS;

  width: 100%;
  height: 100%;
  // bottom: -40px; // text-align: center;
  padding: 0;
  margin: 0;
}

.character {
  // position: fixed;
  // overflow: visible;
}

.wait-input-icon {
  width: 12px;
  height: 12px;
}
