/* Layer z-index */
$_LAYER_INDEX_LOADING_LAYER       : 1300;
$_LAYER_INDEX_VARIABLE_INPUT_BOX  : 1200;
$_LAYER_INDEX_GAME_TOOLBAR        : 1100;
$_LAYER_INDEX_TITLE_MENU          : 900;
$_LAYER_INDEX_CAMERA_BACKDROP     : 800;
$_LAYER_INDEX_DIALOGUE_BOX        : 700;
$_LAYER_INDEX_CHARACTERS          : 600;
$_LAYER_INDEX_WIDGETS             : 500;
$_LAYER_INDEX_PARTICLE_VIEWPORT   : 400;
$_LAYER_INDEX_VIEWPORT            : 300;
$_LAYER_INDEX_OUTLET              : 200;
