/* Layer z-index */
$_LAYER_INDEX_LOADING_LAYER       : 1300;
$_LAYER_INDEX_VARIABLE_INPUT_BOX  : 1200;
$_LAYER_INDEX_GAME_TOOLBAR        : 1100;
$_LAYER_INDEX_TRANSITION          : 1000;
$_LAYER_INDEX_WIDGETS             : 900;
$_LAYER_INDEX_TITLE_MENU          : 800;
$_LAYER_INDEX_DIALOGUE_BOX        : 700;
$_LAYER_INDEX_PARTICLE_VIEWPORT   : 600;
$_LAYER_INDEX_VIEWPORT            : 500;
$_LAYER_INDEX_OUTLET              : 400;
