/* Layer z-index */
$_LAYER_INDEX_VARIABLE_INPUT_BOX: 1100;
$_LAYER_INDEX_TRANSITION: 1000;
$_LAYER_INDEX_WIDGETS: 900;
$_LAYER_INDEX_TITLE_MENU: 800;
$_LAYER_INDEX_PARTICLE_VIEWPORT: 700;
$_LAYER_INDEX_DIALOGUE_BOX: 500;
$_LAYER_INDEX_VIEWPORT: 400;
$_LAYER_INDEX_OUTLET: 300;
