
#transition-container {
  
  width: 100%;
  height: 100%;
  background-color: black;
}

#fps {
  position: fixed;
  z-index: 9999;
  padding: 10px;
  color: white;
  height: 40px;
  text-align: center;
}
