#transition-container {
  width: 100%;
  height: 100%;
  background-color: black;
}

#fps {
  position: fixed;
  z-index: 9999;
  padding: 10px;
  // margin: 10px;
  color: white;
  // width: 80px;
  height: 40px;
  text-align: center;
  // background: rgba($color: #000000, $alpha: 0.4)
}
