@import "../styles/_common.scss";

#game-screen {
  @include center-of-screen;

  position: fixed;

  // @media only screen and (max-width: 2000px) {
    width: 100%;
    height: 100%;
  // }

  // @media only screen and (max-width: 1366px) {
  //   width: 1366px;
  //   height: 768px;
  // }

  border: solid 2.4px white;
  padding: 0px !important;
  background: black;

  overflow: hidden;
}




