<div class="lds-ellipsis">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div id="loading-layer">

  <div id="loading-layer-container">
    <div class="loading-container">

      <span class="loading-text">{{service.currentDownloadTips || "少女祈祷中 ..."}}</span>
      <div class="loading-progress">
        <div id="load-progress" class="loading-progress-bar"></div>
      </div>

      <!-- <span class="loading-text" *ngIf="service.currentProgress">Loading {{service.currentProgress.toFixed(1)}}%</span> -->
      <!-- <span class="progress-value-text"></span> -->
    </div>
  </div>
</div>