/* You can add global styles to this file, and also import other style files */

html,
body,
#app,
#avg-viewport,
{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: #000;
  width: 100%;
  height: 100%;
}

#avg-particle-viewport {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

#avg-character-viewport {
  z-index: 999;
}

#avg-transition {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#avg-outlet {
  z-index: 800;
}
